<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>About malayalam</h1>
          <h4>Malayalam
From Wikipedia, the free encyclopedia
Not to be confused with Malay language.
Malayalam
മലയാളം
Malayalamname.svg
Malayalam in Malayalam script
Pronunciation [maləjaːɭəm]
Native to India
Ethnicity Malayali
Native speakers
38 million (2007)[1]
Language family
Dravidian
Southern Dravidian [2]
Tamil–Kannada
Tamil–Kodagu
Tamil–Malayalam
Malayalam languages
Malayalam
Writing system
Malayalam script (Brahmic)
Malayalam Braille
Vatteluttu alphabet (historical)
Kolezhuthu (historical)
Malayanma (historical)
Grantha (historical)
Arabi Malayalam (historical/rarely used now)
Syriac script (historical)
Official status
Official language in
 India:

Kerala (State),[3]
Lakshadweep (Territory)
Mahé, Puducherry (Territory)
Regulated by  Kerala Sahitya Akademi, Government of Kerala
Language codes
ISO 639-1 ml
ISO 639-2 mal
ISO 639-3 mal
Glottolog mala1464[4]
Linguasphere  49-EBE-ba
Idioma malayalam.png
Malayalam-speaking area
Malayalam.svg Malayalam is written in a non-Latin script. Malayalam text used in this article is transliterated into the Latin script according to the ISO 15919 standard.
Malayalam (/mæləˈjɑːləm/;[5] മലയാളം, Malayāḷam ? [maləjaːɭəm]) is a Dravidian language spoken in India, predominantly in the state of Kerala. It is one of the 22 scheduled languages of India and was designated as a Classical Language in India in 2013.[6] It was developed to the current form mainly by the influence of the poet Thunchaththu Ezhuthachan in the 16th century. Malayalam has official language status in the state of Kerala and in the union territories of Lakshadweep and Puducherry.[7][8][9] It belongs to the Dravidian family of languages and is highly influenced by Sanskrit, an Indo-Aryan language, mostly in grammar and vocabulary, and is spoken by some 38 million people. Malayalam is also spoken by linguistic minorities in the neighbouring states of Tamil Nadu and Karnataka; with significant speakers in the Nilgiris, Kanyakumari and Coimbatore districts of Tamil Nadu, and Dakshina Kannada of Karnataka. Malayalam serves as a link language on certain islands, including the Mahl-dominated Minicoy Island.[10][11][12]

The origin of Malayalam remains a matter of dispute among scholars. One view holds that Malayalam and Modern Tamil are offshoots of Middle Tamil and separated from it sometime after c. 7th century CE. A second view argues for the development of the two languages out of 'Proto-Dravidian' in the prehistoric era. [13][14]

The earliest script used to write Malayalam was the Vatteluttu alphabet, and later the Kolezhuttu, which derived from it.[15][unreliable source?] The current Malayalam script is based on the Vatteluttu script, which was extended with Grantha script letters to adopt Indo-Aryan loanwords.[16] With a total of 52 letters, the Malayalam script has the largest number of letters among the Indian language orthographies.[17] The oldest literary work in Malayalam, distinct from the Tamil tradition, is dated from between the 9th and 11th centuries</h4>
        </div>
      </div>
    </div>